
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
    width: 1200px;
    margin: 0;
}

/* main styles */

.main{
    display: flex;
    flex-direction: row-reverse;
}

.main-content{
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 0px 90px 50px 90px;
}

/* about styles */

.about {
   margin-bottom: 40px; 
   }

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
   }

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
   }

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
   }

/* project styles */

.projects {
    margin-bottom: 50px;
    }

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}   

.projects-list {
    padding: 0;
    margin-left: 15px;
}


.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}

.project > a:nth-child(2){
    color: #595959;
}

.prodject-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.prodject-link {
    margin-left: 10px;
    text-transform: uppercase;
    
    font-weight: 700;
}

.project-bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}
.about-role{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-top: 0;
}

/* work styles */

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
  
.organization {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 0;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-top: 0;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education styles */

.work {
    margin-bottom: 45px;
}


/* sidebar styles */

.education-univers {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.education-specific {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
}

.sidebar{
    background-color: #1E2939;
    padding-top: 0px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 0px;
}

.contacts, 
.tech-skills,
.soft-skills {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
    margin-top: 50px;
}

.contacts-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts-margin {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts-margin > img {
    width: 25px;
    height: 25px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8E949C;
}

.tech-skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.contacts,
.tech-skills,
.soft-skills {
    margin-left: 40px;
}

.soft-skills {
    margin-top: 45px;
}

.soft-skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.soft-skills-item {
    color: #FB6D3A;
}

.soft-skills-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.icons{
    fill: white;
    color: #FFFFFF;
}